
/* When the screen is too small to fit in two columns*/
@media screen and (min-width: 1043px) {
  .checkout_container {
    /*background-color: white;*/
    width: calc(100% - 4rem);

    height: 400px;
    margin: 3rem 2rem 40rem 2rem;

    display: flex;
    justify-content: space-between;

  }

  .cart_summary {
    margin-left: 2rem;
    flex: 1;
    background-color: white;
    height: 1000px;
    margin-bottom: 10rem;
  }

  .checkout_form {
    padding-top: 3rem;
    margin: auto;
    width: 200px;
    margin-bottom: 5rem;
  }

  .text_input1{
    border: .5px solid #9999ff;
    border-radius: 5px;
    margin-top: .3rem;
    margin-bottom: 0.4rem;
    height: 24px;
    max-width: 200px;
    padding: .2rem;
    padding-left: .6rem;
  }

}

/* When the screen is too small to fit in two columns*/
@media screen and (max-width: 1042px) {
  .checkout_container {
    /*background-color: white;*/
    width: calc(100% - 4rem);
    margin: 3rem 2rem 0 2rem;

  }

  .cart_summary {
    margin-top: 3rem;
    max-width: 913px;
    background-color: white;
    height: 950px;
    margin-left: 2rem;
  }

  .summary_heading {
    padding-top: 2rem;
  }

  .checkout_form {
    padding-top: 3rem;
    width: 92%;
    margin-bottom: 5rem;
    margin-left: 2rem;
  }

  .text_input1 {
    display: block;
    border: .5px solid #9999ff;
    border-radius: 5px;
    margin-top: .3rem;
    margin-bottom: 0.4rem;
    height: 24px;
    padding: .2rem;
    padding-left: .6rem;
    max-width: 100%;
    width:309px;

  }
}

/* When the image of items are too big to be stored*/
@media screen and (max-width: 600px) {
  .checkout_container {
    /*background-color: white;*/
    width: calc(100% - 4rem);
    margin: 3rem 2rem 24rem 2rem;
  }

  .cart_items {
    margin-left: -2rem;
  }

  .item_img {
    display: none;
  }

  .item_title {
    /*display: block !important;*/
    /*width: 140px;*/
    margin: auto;
    text-align: center;
  }

  .btns {
    display: block;
    width: 290px;
    margin:auto;
  }

  .item_content {
    border-bottom: 1px solid gray;

    /* Overriding css properties outside of media query*/
    text-align: center !important;
    margin-right: 0rem !important;
  }

  .cart_summary {
    margin-top: 3rem;
    margin-left: 0; /*Override default*/
    width: 100%;
    background-color: white;
    height: 950px;
    margin-bottom: -8rem;
  }

  .summary_heading {
    padding-top: 2rem;
  }

  .checkout_form {
    padding-top: 3rem;
    width: 90%;
    margin-bottom: 5rem;
    margin-left: 2rem;
  }

  .checkout_form {
    padding-top: 3rem;
    width: 92%;
    margin-bottom: 5rem;
    margin-left: 2rem;
  }

  .text_input1 {
    display: block;
    border: .5px solid #9999ff;
    border-radius: 5px;
    margin-top: .3rem;
    margin-bottom: 0.4rem;
    height: 24px;
    padding: .2rem;
    padding-left: .6rem;
    width: 270px;

  }

  .button-form-submit  {
    /*Override outside css because input length are not full length so the button cannot be centered using margin auto*/
    margin-left: 24% !important;
  }

}


.cart_items {
  flex: 3;
  /*background-color: red;*/
  height: 804px;
}

.cart_heading {
  background-color: #ffccdd;
  color:#605c5d;
  margin-top: 0;
  font-size: 18px;
  padding: 1rem;
  margin-bottom: 0;
  margin-left: 2rem;
}

.cart_item {
  height: 200px;
  background-color: white;
  margin-left: 2rem;

  display: flex;
}

.item_img {
  flex: 1;
  width: 200px;

  padding: 1rem;
}

.item_content {
  flex: 4;
  display: block;
  height: auto;
  width: 400px;

  text-align: right;
  margin-right: 2rem;
}


.item_title {
  display: inline-block;
  font-size: 1rem;
  margin-top: 1rem;
  color:#605c5d;
  padding-bottom: .1rem;
  border-bottom: 2px solid #605c5d;
}

.item_info {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;

}

.btns {
  margin-top: 1.8rem;
}

/* edit button */
.edit {
  font-size: 15px;
  font-family: Helvetica;
  outline: none;
  color: white;

  background-color: #9aa3f7;
  border: 1px solid #9aa3f7;
  border-radius: 3px;
  padding: .2rem;
  min-width: 8em;

  display: inline-block;
}
/* clear interaction for edit button */
.edit:hover, .edit:focus{
  color: white;
  background-color: #6571b7;
  border: 1px solid #6571b7;

}
.edit:active{
  color: #6571b7;
  background-color:white;
  border: 1px solid #6571b7;
}

/* delete button */
.delete {
  font-size: 15px;
  font-family: Helvetica;
  padding: .2rem;
  outline: none;
  color: #9aa3f7;
  background-color:white;
  border: 1px solid #9aa3f7;
  border-radius: 3px;
  min-width: 8em;

  display: inline-block;
}
/* clear transition for delete button */

.delete:hover, .delete:focus{
  color: #6571b7;
  background-color:white;
  border: 1px solid #6571b7;
}
.delete:active{
  color: white;
  background-color:#6571b7;
  border: 1px solid #6571b7;
}


/* For the summary aprt */
.summary_heading {
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-size: 25px;
  color: #ffaec5;
}

.summary_container {
  display: block;
  width: 100%;
  height: 20px;
  margin-bottom: .2rem;
}

.summary_item {
  font-size: 14px;
  margin-left: 2rem;
  float: left;
  font-family: Helvetica;
}

.summary_item_right {
  font-size: 14px;
  margin-right: 2rem;
  float: right;
  font-family: Helvetica;

}

.summary_alert {
  font-size: 10px;
  max-width: 220px;
  margin-left: 2rem;

  /*Make it closer to the top item*/
  margin-top: -.4rem;

  color: red;
}

.total {
  margin-top: 4rem;
  height: 40px;
}
.total_text {
  font-size: 20px;
}

/* The secion below is for all the billing details form*/

.form_title {
  /* Pushing back the title*/
  margin-left: -.8vw;
  margin-bottom: 1rem;
}

/* Leaving out space between each form item */
form > div {
  margin-bottom: .6rem;
}

.input_select {
  display: block;
  margin-top: 0.3rem;
  width: 200px;
}

.button-form-submit{
  font-size: 14px;
  font-family: Helvetica;
  outline: none;
  color: white;

  /* purple */
  background-color: #9aa3f7;
  border: 1px solid #9aa3f7;

  border-radius: 3px;
  padding: .3rem;
  min-width: 5rem;

  display: block;
  margin: auto;
  margin-top: 2rem;
}
/* clear interaction for edit button */
.button-form-submit:hover{
  color: white;
  background-color: #6571b7;


}
.button-form-submit:active, .button-form-submit:focus{
  color: #6571b7;
  background-color:white;
  border: 1px solid #6571b7;
}

/* name on card */

.text_input1:hover{
  border: .5px solid #9999ff;
  background-color: #e6e6ff;

}

.text_input1:active{
  border: .5px solid #9999ff;
  background-color: #ffe6ee;
}
.payment_form{
  font-family: Helvetica;
}
