
/* When the screen is too small to fit in two columns*/
@media screen and (min-width: 959px) {
  .checkout_container {
    /*background-color: white;*/
    width: calc(100% - 4rem);

    height: 400px;
    margin: 3rem 2rem 0 2rem;

    display: flex;

  }

  .cart_summary {
    margin-left: 2rem;
    flex: 1;
    background-color: white;
    height: 600px;

  }
}

/* When the screen is too small to fit in two columns*/
@media screen and (max-width: 958px) {
  .checkout_container {
    /*background-color: white;*/
    width: calc(100% - 4rem);
    margin: 3rem 2rem 0 2rem;

  }

  .cart_summary {
    margin-top: 3rem;
    background-color: white;
    height: 800px;
  }

  .summary_heading {
    padding-top: 10rem;
  }

}

/* When the image of items are too big to be stored*/
@media screen and (max-width: 600px) {
  .cart_items {
    margin-left: -2rem;
  }

  .item_img {
    display: none;
  }

  .item_title {
    display: block;
    margin: auto;
    text-align: center;
  }

  .btns {
    display: inline;
    padding-left: 2em;
    width: 140px;
    margin:auto;

  }

  .item_content {
    border-bottom: 1px solid gray;
  }

  .cart_summary {
    margin-top: 3rem;
    margin-left: 0; /*Override default*/
    width: 100%;
    background-color: white;
    height: 600px;
  }

  .summary_heading {
    padding-top: 3rem;
  }

}


.cart_items {
  flex: 3;
  /*background-color: red;*/
  height: 400px;
}

.cart_heading {
  background-color: #ffccdd;
  color:#605c5d;
  margin-top: 0;
  font-size: 18px;
  padding: 1rem;
  margin-bottom: 0;
  margin-left: 2rem;
}

.cart_item {
  height: 200px;
  background-color: white;
  margin-left: 2rem;

  display: flex;
}

.item_img {
  flex: 1;
  width: 200px;

  padding: 1rem;
}

.item_content {
  flex: 3;
  display: block;
  height: auto;
  width: 400px;
}


.item_title {
  font-size: 1rem;
  margin-top: 1rem;
  color:#605c5d;
  padding-bottom: .1rem;
  border-bottom: 2px solid #605c5d;
  width: 180px;
}

.item_info {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;

}

.btns {
  margin-top: 1.8rem;
}

.edit {
  font-size: 15px;
  outline: none;
  color: white;
  background-color: #6571b7;
  border: 1px solid #6571b7;
  border-radius: 3px;
  padding: .2rem;
  min-width: 8em;
}
/* clear interaction for edit button */
.edit:hover{
  color: white;
  background-color: #9aa3f7;
  border: 1px solid #9aa3f7;

}
.edit:active{
  color: #9aa3f7;
  background-color:white;
  border: 1px solid #9aa3f7;
}
.delete {
  font-size: 15px;
  padding: .2rem;
  outline: none;
  color: #6571b7;
  background-color:white;
  border: 1px solid #6571b7;
  border-radius: 3px;
  min-width: 8em;
}
.delete:hover{
  color: #9aa3f7;
  background-color:white;
  border: 1px solid #9aa3f7;
}
.delete:active{
  color: white;
  background-color:#9aa3f7;
  border: 1px solid #9aa3f7;
}


/* For the summary aprt */
.summary_heading {
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-size: 25px;
  color: #ffaec5;
}

.summary_container {
  display: block;
  width: 100%;
  height: 20px;
  margin-bottom: .2rem;
}

.summary_item {
  font-size: 14px;
  margin-left: 2rem;
  float: left;
}

.summary_item_right {
  font-size: 14px;
  margin-right: 2rem;
  float: right;
}

.summary_alert {
  font-size: 10px;
  max-width: 220px;
  margin-left: 2rem;

  /*Make it closer to the top item*/
  margin-top: -.4rem;

  color: red;
}

.total {
  margin-top: 6rem;
  height: 40px;
}
.total_text {
  font-size: 20px;
}

.checkout_form {
  margin: auto;
  width: 200px;
  margin-bottom: 5rem;
}
