/* this is a citation style */
#citations_list{
  margin-top: 2rem;
  background-color: white;
  padding: 2rem;
}

.citations{
  padding-top:2rem;
  border-top: 1px solid grey;
  margin-bottom: 2rem;
  margin-top:2rem;
  /* min-width:210px; */
  height:auto;
  max-width: 100%;
}
/* imager source border line */
#image_source, #code_source{
  padding-top:1rem;
  border-top: 2px solid #ffaec5;
  margin-bottom: 2rem;
  margin-top:2rem;
}
/* paragraph style */
.citation_text{
  font-weight: 400;
  font-size: 0.9rem;
  /* padding-right:1rem ; */
  padding-top: 1rem;
  font-family: Helvetica;
  line-height: 1.2rem;

}
