@media screen and (min-width: 710px) {
  .product_detail {
    display: flex;
  }

  .product_info {
    flex: 1;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 710px) {
  .product_info {
    margin-bottom: 2rem;
    margin-left: 2rem;
  }
}

.product_image_container {
  flex: 1;
  margin-top: 4rem;
}

.product_image {
  max-width: 300px;
  height: auto;
  display: block;
  margin: auto;
}

.product_name {
  /* Resetting default css on main.css */
  margin-left: 0rem;
}

.price_rating {
  display: flex;
  max-width: 230px;
}

.fa-star {
  /* Changing default size of icon */
  font-size: 12px;

  /* Making stars closer to each other*/
  margin-left: -0.4rem;
  color: yellow;
}

.ratings {
  flex: 7;
  margin-left: 2rem;
}

.rating_count {
  display: inline-block;
  margin-left: -.5rem;
}

/* detail flex item for price */
.product_price {
  flex: 1;
}

.cart {
  font-size: 15px;

  padding: .3rem .8rem;
  border-radius: 3px;
  border: 1px solid red;
  /* bright pink */
  border: 1px solid #b4bdf9;
  color: #b4bdf9;
  background-color: white;

  /*Removing outline when button is clicked*/
  outline: none;

  transition: background-color .5s, color .5s;

  /*Positioning*/
  display: block;
  margin-top: 1rem;
}
/* clear interaction for add to cart button */
.cart:hover, .cart:focus {
  /* light pink */
  border: 1px solid #ffaec5;
  background-color: white;
  color: #ffaec5;
}
.cart:active {
  background-color: #ffaec5;
  color: white;
}

/* All the descriptions about this product*/
.product_description {
  background-color: rgb(230,230,230);

  display: block;
  width: calc(100% - 3rem);
  height: 250px;
  margin-top: 3rem;


}

.description_text {
  padding-top: 1rem;
  margin: 0 2rem 0 2rem;
}
