/* REMINDER: Responsive breakpoing should be set to 906px*/


/* Content space for events page*/

@media screen and (min-width: 806px) {
  /* The headline */
  .headline {
    height: 400px;
    display: flex;
    background-color: white;
    margin-bottom: 2rem;

  }

  .headline_img {
    display: block;
    flex: 3;

    max-width: 550px;

  }

  .headline_content {
    height: 500px;
    flex: 1;

    /* for button responsiveness*/
    position: relative;
  }

  .headline_text {
    margin: 1rem 1rem 0 2.5rem;

    max-width: 400px;
    line-height: 180%;
  }
  .headline_title{
    margin-left: 2.5rem;
  }
}

@media screen and (max-width: 805px) {
  .headline {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
  }

  .headline_img {
    /*display: block;*/

    /*width: 650px;*/
    width: 80%;
    height: auto;
    margin: auto;
  }

  .headline_content {
    height: 430px;
    width: 80%;
    margin: auto;
    background-color: white;
    /* for button responsiveness*/
    position: relative;
  }

  .headline_title {
    font-size: 22px;
    padding-top: 1rem;

    /* Reseeting default font size for h1*/
    /* Important has to be used to override normalize.css*/
    margin-top: 0 !important;
    text-align: center;

  }


  .headline_text {
    margin: 1rem 2rem 0 2rem;
    line-height: 150%;

  }

  .headline_reverse {
    order: -1;
  }


}

.event_container {
  margin: 3rem 2rem 0 2rem;
  width: calc(100% - 4rem);
}


.headline_title {
  font-size: 1.5rem;

  /* Reseeting default font size for h1*/
  color:#9aa3f7;
  font-style: italic;

}

  .headline_button {
  text-align: center;
  padding: .5rem;
  display: block;
  width: 100px;

  /* positioning the button idea from https://www.sitepoint.com/community/t/possible-to-float-right-and-stick-to-bottom-simultaneously-without-using-margin/38382/2*/
  position: absolute;
  bottom: 1rem;
  right: 1rem;

  /* Button styling design*/
  /* pink background and white text  */
  color: white;
  background-color: #b4bdf9;
  border: 1px solid #b4bdf9;
  transition: background-color .5s, color .5s;
  border-radius: 3px;
}

.headline_button:hover{
  /* pink border and white text */
  background-color: #ffaec5;
  border: 1px solid #ffaec5;
  color: white;
}
.headline_button:focus{
  background-color: white;
  border: 1px solid #ffaec5;
  color:#ffaec5;
}
