/* Content space for events page*/
.event_container {
  margin: 3rem 2rem 0 2rem;
  width: calc(100% - 4rem);
}

/* The headline */
.headline {
  height: 400px;
  display: flex;

  background-color: white;
}

.headline_img {
  display: block;
  flex: 3;

  max-width: 650px;
  padding: 1rem 0 1rem 1rem;
}

.headline_content {
  height: 400px;
  flex: 1;
}

.headline_title {
  font-size: 22px;

  /* Reseeting default font size for h1*/
  margin-top: 2rem;
  margin-left: 1rem;
}

.headline_text {
  margin: 1rem 2.5rem 0 2rem;
}

.headline_title {

}