.com_img {
  margin: auto;
  margin-top: 3rem;
  background-color: black;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.company_info {
  width: 80%;
  margin: auto;
  margin-top: 2rem;

  /*margin-bottom: 5rem;*/
}