body, html {
  /*important */
  height: 100%;
  /* margin-left: 3%;
  margin-right: 3%; */
}
.navContainer{
  margin-bottom: 2rem;
}
h1{
  font-size: 4rem;
  text-align: left;
  margin-bottom: 0.5rem;
  color:white;
  -webkit-text-stroke: 2px pink;
}
h2{
  font-size:1.8rem;
  text-align: left;
  padding-bottom: 0.5rem;
  margin:0;
  color:pink;
}
/* h3 */
.header-three .list_title, .header-section .list_title{
  font-family: Helvetica;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid pink;
  font-size: 2.1rem;

}
.header-three{
  text-align: center;
  margin-top: 1.5rem;
}
.header-section{
  text-align: left;
  margin-top: 2.5rem;
}


.flex-half-about{
  width: 45%;
  /* background: #f4f4f4; */
  display: inline-block;
  padding: 70px 50px;
}
.bg_lighter{
  background-color: #f9eff1;
}
.bg_darker{
  background-color: #fce8eb;
}

.info_list{
  min-height: 250px;
  text-align: center;
  margin-top: 2rem
}
.info_list li span.list_title {
  font-family: Helvetica;
  font-weight: 600;
  display: block;
  font-size: 1.2rem;
  margin: 0 0 10px 0;
}

li{
  display: list-item;
  font-family: Helvetica;
  list-style-type: none;
  font-size: 0.95rem;
}
.standard_btn {
  font-size: 0.88rem;
  display: block;
  width: 180px;
  padding: 8px;
  background-color: #9aa3f7;
  border-radius: 3px;
  margin: 20px auto 0 auto;
  text-align: center;
  color: #fff;
  font-weight: bold;
  border: 1px solid #9aa3f7;
}
.standard_btn:hover, .standard_btn:active{
  border: 1px solid #9aa3f7;
  background-color: white;
  color:#9aa3f7;
}
/* table */
.info_content{
  margin-left: 10%;
  margin-right: 10%;
  color:grey;

}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
table {
  border-collapse: collapse;
}
.table_standard{
  width: 100%;
  border-bottom: 1px solid #ccc;
  font-size:1.15rem;;
  margin: 60px 0;
  font-family: Helvetica;
}
.table_standard td p {
  border-left: 3px solid #9aa3f7;
  padding-left: 30px;

}
.table_standard p {
  text-align: justify;
  /*word-break: break-all;*/
  font-family: Helvetica;
}
.table_standard th, .table_standard td {
  border-top: 1px solid #ccc;
  padding: 25px 0;
  vertical-align: top;
  text-align: left;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

/* shop now button */
/*define the buttom click on the homepage*/
.button_click_shopnow{

  border:0;
  border-radius: 0.3rem;
  text-align: center;
  padding: 0.4rem;
  transition: all 0.5s;
  font-size: 1rem;
  font-weight: 600;
  display: block;
  /*: relative;*/
  width: 10rem;

  background-color:#9aa3f7;
  color:white;
  font-family: Helvetica;

}

.button_click_shopnow span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_click_shopnow span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -1rem;
  transition: 0.5s;
  color:white;
  /*https://css-tricks.com/snippets/html/glyphs/*/
}

.button_click_shopnow:hover span {
  padding-right: 1rem;
}

.button_click_shopnow:hover span:after {
  opacity: 0.8;
  right: 0;
}
.button_click_shopnow a{
  color:white;
  text-decoration: none;
  font-family: Helvetica;
}
.button_click_shopnowa:hover{
  border-radius: 0.5rem;
  color:white;
  padding: 1rem;
  font-size: 1rem;
}
.flex{
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
}
.flex-half{
  flex: 0 0 45%;
  margin-right: 5%;
}

.grid-home-title{
  margin-left:10%;
  margin-right:10%;
  text-align: center;
}
.product_image{
  margin-top: 1em;
  max-width:40%;
  min-width:200px;
}

.container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}
.container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/*main content  */
.main-content {
  /* you need to assign a min-height to the main content so that the children can inherit it*/
  height: 100%;
  position: relative;
}

@media screen and (min-width: 700px) {
  /* bg img */
  .fixed-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
    /* code source:https://codepen.io/taniarascia/pen/VpGXJQ */
  }
  .table_standard th {
    width: 320px;
  }
}

@media screen and (max-width: 699px) {
  .fixed-bg {
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .flex-half-about{
    width: 90%;
    /* background: #f4f4f4; */
    display: inline-block;
    padding: 90px 60px;
  }
  .info_list{
    min-height: auto;
    text-align: center;
    margin-top: 1.2rem;
  }
  .table_standard td p {
    /*word-wrap: break-word*/
    padding-left: 0;
    border-left: none;
    display: inline-block;

  }
  .table_standard th {
    border: none;
    width: 100%;
  }
  .table_standard th, .table_standard td {
    border-top: none;
    display: block;
    border-bottom: 1px solid #ccc;
  }


}


.bg-1 {
  /* background-image: url("../img/home/cover/parrot-cover.jpg"); */
  background-image: url("../img/home/cover/bear-cover.jpeg");

}
.bg-2 {
  background-image: url("../img/home/cover/parrot-cover.jpg");
}

.scrolling-bg {
  position: relative;
  min-height: 80%;
  padding: 4em 0;
  line-height: 1.6;
  /* box-shadow: 0 0 50px rgba(0, 0, 0, 0.5); */
  z-index: 3;
}
.info {
  background-color: white;
  color:grey;
}
.brand_name {
  color: #b4bdf9;
  font-size: 40px;
  text-align: center;
  margin-bottom: 4rem;
}
.paragraph_text{
  margin-left: 10%;
  margin-right:10%;
}

@media only screen and (min-width: 48rem) {
  .scrolling-bg {
    padding: 8em 0;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 300;
  }

}

.join_us{
  color: #b4bdf9;
    font-size: 40px;
    text-align: center;
    margin-bottom: 0;
}
.sub_text{
  font-size: 1.2rem;
  text-align: center;
}
/* style of email */
.email_input {
  display: block;
  margin: auto;
  margin-top: 2rem;
  max-width: 300px;
  display: flex;
}
.sub {
  font-size: .8rem;
  /* padding: .4rem; */
  flex: 1;
  padding: 8px;
  margin-bottom: 0.4rem;
  background-color: #9aa3f7;
  color:white;
  border: 1px solid #9aa3f7;
  font-family: Helvetica;
}
.sub:hover{
  color: #9aa3f7;
  background-color:#e6e6ff;
  border: 1px solid #e6e6ff;
}
.sub:active{
  background-color: #e6e6ff;
  color:black;
  border: 1px solid #e6e6ff;

}
/* put email */
#email{
  flex: 3;
  padding: 1px;
  margin-bottom: 0.4rem;
}

#email:hover{
  padding: 1px;
  background-color: #e6e6ff;

}

#email:active{
  border: 1px solid #9999ff;
  background-color: #ffe6ee;
}

