/* product image start from left corner */

.product_img{
  height: 300px;
  width: 250px;
  margin-left: 1rem;
  overflow: auto;
  display: block;
  margin: auto;
  background-repeat: no-repeat;
  background-size: contain;
}

/* image 1: product_img rose_love*/
.rose_love{
  /*Making sure image only being rendered once and adding hover animation to change colour*/
  background-image: url("../img/product/rose_love/rose-1.jpg");
}

.rose_love:hover, .rose_love:focus{
  background-image: url("../img/product/rose_love/rose-2.jpg");
}
/* end of image 1:product_img rose_love */

/* image 2:product_img ship */
.ship{
  /*Making sure image only being rendered once and adding hover animation to change colour*/
  background-image: url("../img/product/ship/ship-1.jpg");
}

.ship:hover, .ship:focus{
  background-image: url("../img/product/ship/ship-2.jpg");
}
/* end of image2: product_img ship*/

/* image 3:product_img_shark  */
.product_img_shark{
  height: 300px;
  width: 250px;
  margin-left: 1rem;
  overflow: auto;
  display: block;
  margin: auto;

  /*Making sure image only being rendered once and adding hover animation to change colour*/
  background-image: url("../img/product/shark/shark-1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.product_img_shark:hover, .product_img_shark:focus{
  background-image: url("../img/product/shark/shark-2.jpg");
}
/* end of iamge3:product_img_shark */

/* image 4 */
.yellow_flower{
  /*Making sure image only being rendered once and adding hover animation to change colour*/
  background-image: url("../img/product/yellow_flower/yellow flower-1.jpg");
}

.yellow_flower:hover, .yellow_flower:focus{
  background-image: url("../img/product/yellow_flower/yellow flower-2.jpg");
}
/* end of image 4 */

/* image 5 */
.product_img_list5{
  height: 300px;
  width: 250px;
  margin-left: 1rem;
  overflow: auto;
  display: block;
  margin: auto;

  /*Making sure image only being rendered once and adding hover animation to change colour*/
  background-image: url("../img/product/list5/bear-1.jpg");
  background-repeat: no-repeat;
  background-size: contain;

  /*transition: background-image .1s;*/
}

.product_img_list5:hover, .product_img_list5:focus{
  background-image: url("../img/product/list5/bear-2.jpg");
}
/* end of image 5 */

/* image 6 */
.product_img_list6{
  height: 300px;
  width: 250px;
  margin-left: 1rem;
  overflow: auto;
  display: block;
  margin: auto;

  /*Making sure image only being rendered once and adding hover animation to change colour*/
  background-image: url("../img/product/list6/parrot-1.jpg");
  background-repeat: no-repeat;
  background-size: contain;

  /*transition: background-image .1s;*/
}

.product_img_list6:hover, .product_img_list6:focus{
  background-image: url("../img/product/list6/parrot-2.jpg");
}
/* end of image 6 */

/* image 7 */
.product_img_list7{
  height: 300px;
  width: 250px;
  margin-left: 1rem;
  overflow: auto;
  display: block;
  margin: auto;

  /*Making sure image only being rendered once and adding hover animation to change colour*/
  background-image: url("../img/product/list7/school_bus-2.jpg");
  background-repeat: no-repeat;
  background-size: contain;

  /*transition: background-image .1s;*/
}

.product_img_list7:hover, .product_img_list7:focus{
  background-image: url("../img/product/list7/school_bus-1.jpg");
}
/* end of image 7 */

/* image 8 */
.product_img_list8 {
  height: 300px;
  width: 250px;
  margin-left: 1rem;
  overflow: auto;
  display: block;
  margin: auto;

  /*Making sure image only being rendered once and adding hover animation to change colour*/
  background-image: url("../img/product/list8/duck-1.jpg");
  /* background-image: url("../img/product/list7/school_bus-1.jpg"); */

  background-repeat: no-repeat;
  background-size: contain;

  /*transition: background-image .1s;*/
}

.product_img_list8:hover, .product_img_list8:focus{
  background-image: url("../img/product/list8/duck-2.jpg");
  /* background-image: url("../img/product/list8/arch card-2.jpg"); */

}
/* end of image 8 */
