/* The most outer flex container*/
.product_listings {
  display: flex;
  flex-wrap: wrap;
  margin-left: 3.6rem;
  margin-right: 5rem;
  margin-top: 4rem;
}

/* Each product aka flex item*/
.product {
  flex: 1 0 30%;
  margin-left: 2rem;
  margin-bottom: 3rem;

  /*max-width: 220px;*/
}

.product_content {
  display: block;
  margin: auto;
  height: 100px;
  width: 250px;
}

.detail_img_link {
  /*display: inline-block;*/
  width: 250px;
}

.product_img_rad {
  height: 300px;
  width: 250px;
  margin-left: 1rem;
  overflow: auto;
  display: block;
  margin: auto;

  /*Making sure image only being rendered once and adding hover animation to change colour*/
  background-image: url("../img/RadDad.png");
  background-repeat: no-repeat;
  background-size: contain;

  /*transition: background-image .1s;*/
}

.product_img_rad:hover, .product_img_rad:focus{
  background-image: url("../img/thankyou_card.png");
}


.product_title {
  font-size: 18px;
  text-align: center;
  margin-left: -2rem;
  margin-top: 1rem;

  /*Removing bold from heading*/
  font-weight: normal;
}

.product_detail {
  margin-top: .5rem;

  /*display: inline-flex;*/
}

.product_price {
  display: inline-block;
}

.ratings {
  /* Displaying ratings as a flex item*/
  display: inline-block;
  margin-left: 2rem;

  flex: 1;
}

.rating_count {
  /* Making the p tag display inline*/
  display: inline-block;
}

.fa-star {
  /*Changing colours of fontawesome start icon and make them tighter*/
  color:  rgb(255,255,0);
  margin-left: -.5rem;
}

.cart {
  font-size: 15px;

  padding: .3rem .8rem;
  border-radius: 3px;
  /* bright pink */
  border: 1px solid #ff336d;
  color: #ff336d;
  /*Removing outline when button is clicked*/
  outline: none;

  transition: background-color .5s, color .5s;

  /*Positioning*/
  display: block;
  margin-top: 1rem;
  margin-left: 3rem;
}

.cart:hover {
  /* light pink */
  border: 1px solid #ffaec5;
  background-color: white;
  color: #ffaec5;
}
.cart:active {
  background-color: #ffaec5;
  color: white;
}
