
* {
  box-sizing: border-box;
}
/* body grid by using margin */
body {
  font-family: "Office Code Pro", monospace;
  /* white space between two sides */
  margin-left: 13%;
  margin-right: 13%;
  font-weight: lighter;
  background-color: rgb(250, 244, 244);
}

/* div class for flex */
.flex {
  display: flex;
  flex-wrap: wrap;
}

/* div class for flex-half (rendered element and css selector + sample code) */
.flex-half {
  flex: 0 0 45%;
  margin-right: 5%;
}
/* scroll to top button */
/*Floating Back-To-Top Button*/
  .topBtn{
        position: fixed;
        bottom: 20px;
        float: right;
        width: 100%;
        left: 90%;
        height: 80px;
        overflow: auto;
        display: block;
        margin: auto;
        background-image: url("../img/scroll_to_top/top.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
/*On Hover Color Change*/
    .topBtn:hover {
        background-image: url("../img/scroll_to_top/top_hover.png");
    }

    .topBtn:focus {
        background-image: url("../img/scroll_to_top/top_focus.png");
    }
    @media screen and (max-width:800px) {
      .topBtn {
/* make it smaller */
        height: 60px;
      }
    }
    @media screen and (max-width:450px) {
      .topBtn {
/* make it smaller */
        height: 50px;
        left: 86%;
      }
    }
/* section id style */
#styleguide{
  margin-top: 2rem;
  background-color: white;
  padding: 2rem;
}

/* hashtag id to make a line between each small flexbox */
#navigation_button{
  border-top: 2px solid #ffaec5;
  padding-top:1rem;
  border-top: 2px solid #ffaec5;
  margin-bottom: 2rem;
  margin-top:2rem;
}

#form_buttons,#cart_button,#shop_button,.input_field,
#images_as_a_link,#heading-levels,#unordered_list,
#colour_palette,#submit_buttons
{
  padding-top:1rem;
  border-top: 1px solid grey;
  margin-bottom: 2rem;
  margin-top:2rem;
}

/* heading */
.header-one{
  color:white;
  -webkit-text-stroke: 2px pink;
  font-size: 3.5rem;
  margin:0;
  border:0;
  text-align: center;
}
@media screen and (max-width:450px) {
  .header-one{
    font-size: 2.5rem;
  }
}
.header-two{
  text-decoration: underline;
  font-family: Helvetica;
  font-size: 1.5rem;
  font-weight: 600;
  color:#9aa3f7;
}

.header-three{
  font-family: Helvetica;
}

/* interactive element */
/* Nav */
.nav_item1 {
  flex: 1;
  text-align: left;
}

/* stylying for sample code */
code {
  /* highlight the code with background color */
  /* light pink  */
  background-color: #ffe6ff;
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  color:#08302f;
  min-width:150px;
  height:2rem;
  max-width: 100%;
}
p{
  font-size: 0.9rem;
}
/* make the email input smaller */
@media screen and (max-width:450px) {
  .email_input{
    max-width: 200px;
  }
  #email {
    max-width: 120px;

  }
}
/* colour palette */
.color-palette {
  width: 150px;
  height: 85px;
  font-size: 0.8em;
  padding: 0.5em;
  margin: 0.1em 0.1em;
  border:1px solid black;
  display:inline-block;
  justify-content: center;
}

/* colors in color palette */
.pink_background{
  background-color: rgb(250, 244, 244);
}
.purple_nav{
  background-color: #9aa3f7;
}
.pink_icon{
  background-color: #ffaec5;
  color:white;
}
.highlight_pink{
  background-color: #ffe6ff;
  /* color:white; */
}
.yellow{
  background-color: #eeff41;
  /* color:white; */
}
/* styleguide link */
.linked-text {
  /* dark purple */
  color:#730099;
  /* double lines */
  text-decoration:underline;
}
/* Clear interaction response for link */
.linked-text:hover, .linked-text:active, .linked-text::after {
  /* dark green */
  color:black;
  /* bright purple */
  background-color: #ffe6ff;
  padding-top:0;
  text-decoration:underline;
}

/* shop now button style */
.button_click_shopnow{
  font-family: Helvetica;

  border:0;
  border-radius: 0.3rem;
  text-align: center;
  padding: 0.4rem;
  transition: all 0.5s;
  font-size: 1rem;
  font-weight: 600;
  display: block;
  /*: relative;*/
  width: 10rem;

  background-color:#9aa3f7;
  color:white;
text-decoration: none;
}

.button_click_shopnow span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_click_shopnow span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -1rem;
  transition: 0.5s;
  color:white;
  /*https://css-tricks.com/snippets/html/glyphs/*/
}

/* Place your order button on checkout list */
.button_click_shopnowa:hover{
  border-radius: 0.5rem;
  color:white;
  padding: 1rem;
  font-size: 1rem;
}

.button_click_shopnow:hover span {
  padding-right: 1rem;
}

.button_click_shopnow:hover span:after {
  opacity: 0.8;
  right: 0;
}
.button_click_shopnow a{
  color:white;
  text-decoration: none;
  font-family: Helvetica;
}

.button-form-submit{
  font-size: 14px;
  font-family: Helvetica;
  outline: none;
  color: white;

  /* purple */
  background-color: #9aa3f7;
  border: 1px solid #9aa3f7;

  border-radius: 3px;
  padding: .3rem;
  min-width: 5rem;

  display: block;
  margin-left: 0;
  margin-top: 2rem;

}
/* clear interaction for submit button */
.button-form-submit:hover{
  color: white;
  background-color: #6571b7;


}
.button-form-submit:active, .button-form-submit:focus{
  color: #6571b7;
  background-color:white;
  border: 1px solid #6571b7;
}

/* end of place your order button */

/* add to cart button on product list page */
.cart {
  font-size: 15px;

  padding: .3rem .8rem;
  border-radius: 3px;
  /* bright pink */
  border: 1px solid #b4bdf9;
  color: #b4bdf9;
  /*Removing outline when button is clicked*/
  outline: none;

  transition: background-color .5s, color .5s;

  /*Positioning*/
  display: block;
  margin-top: 1rem;
  margin-left: 0;
  background-color: white;
}

.cart:hover, .cart:focus {
  /* light pink */
  border: 1px solid #ffaec5;
  background-color: white;
  color: #ffaec5;
}
.cart:active {
  background-color: #ffaec5;
  color: white;
}
/* end of add to cart button */

/* style of edit and delete buttons */
/* edit button */
.edit {
  font-size: 15px;
  font-family: Helvetica;
  outline: none;
  color: white;

  background-color: #9aa3f7;
  border: 1px solid #9aa3f7;
  border-radius: 3px;
  padding: .2rem;
  min-width: 8em;

  display: inline-block;
}
/* clear interaction for edit button */
.edit:hover, .edit:focus{
  color: white;
  background-color: #6571b7;
  border: 1px solid #6571b7;

}
.edit:active{
  color: #6571b7;
  background-color:white;
  border: 1px solid #6571b7;
}

/* delete button */
.delete {
  font-size: 15px;
  font-family: Helvetica;
  padding: .2rem;
  outline: none;
  color: #9aa3f7;
  background-color:white;
  border: 1px solid #9aa3f7;
  border-radius: 3px;
  min-width: 8em;

  display: inline-block;
}
/* clear transition for delete button */

.delete:hover, .delete:focus{
  color: #6571b7;
  background-color:white;
  border: 1px solid #6571b7;
}
.delete:active{
  color: white;
  background-color:#6571b7;
  border: 1px solid #6571b7;
}

/* end of edit and delete buttons */
/* style of email */
.email_input {
  display: block;
  margin: 0;
  max-width: 300px;
  display: flex;
}

.sub {
  font-size: .8rem;
  /* padding: .4rem; */
  flex: 1;
  padding: 1px;
  margin-bottom: 0.4rem;

}
/* put email */
#email{
  flex: 3;
  padding: 1px;
  margin-bottom: 0.4rem;
}

#email:hover{
  padding: 1px;
  background-color: #e6e6ff;

}

#email:active{
  border: 1px solid #9999ff;
  background-color: #ffe6ee;
}
/* end of email */

/* input with label */
.text_input1{
  border: .5px solid #9999ff;
  border-radius: 5px;
  margin-top: .3rem;
  margin-bottom: 0.4rem;
  height: 24px;
  max-width: 200px;
  padding: .2rem;
  padding-left: .6rem;
  display: block;
}

.text_input1:hover{
  border: .5px solid #9999ff;
  background-color: #e6e6ff;
}

.text_input1:active{
  border: .5px solid #9999ff;
  background-color: #ffe6ee;
}
/* end of input with label */

/* image link */

.product_img{
  height: 200px;
  width: 200px;
  margin-left: 0rem;
  overflow: auto;
  display: block;
  margin: auto;
  background-repeat: no-repeat;
  background-size: contain;
}

/* image 1: product_img rose_love*/
.rose_love{
  /*Making sure image only being rendered once and adding hover animation to change colour*/
  background-image: url("../img/product/rose_love/rose-1.jpg");
}

.rose_love:hover, .rose_love:focus{
  background-image: url("../img/product/rose_love/rose-2.jpg");
}
/* end of image 1:product_img rose_love */

/* end of image link */
/* description text */
.description_text {
  padding-top: 1rem;
  margin: 0 2rem 0 2rem;
  font-size: 0.9rem;

}
