
/* This whole background of the footer and coloumn display*/
/* when the width of webpage is larger than 768px */
@media screen and (min-width: 768px) {
  /* footer container */
  .footer {
    background-color: white;
    /*height: 200px;*/
    width: 100%;
    box-shadow: 0px 0px 10px 0px grey;
    margin-top: 10rem;
    padding-bottom:1rem;
    display: flex;
    padding-right: 5%;
    padding-left: 5%;

  }

  /* left section of footer */
  .footer-content{
    height: 250px;
    margin-right: 5%;
    margin-left: 5%;
    flex:1.4;
    text-align: left;
    line-height: 200%;

  }
}
/* end of @media screen and (min-width: 768px) */

/* when the width of webpage is smaller than 768px */
@media screen and (max-width: 768px) {
  .footer {
    background-color: white;
    width: 100%;
    box-shadow: 0px 0px 10px 0px grey;
    margin-top: 2rem;
    padding-bottom:3rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    padding-right: 10%;
    padding-left: 10%;
  }

  /* left section includes phone, email, brand and copyright */
  .footer-content{
    flex:1;
    margin-right: 10%;
    margin-left: 10%;
    line-height: 150%;

  }

  /* container of social media icon */
  .footer-icons{
    flex:1;
    margin: auto;
    /* set on the top of footer-content */
    order:-1;
  }

  /* each social media icons */
  .icons{
    text-align: center;
    float: none;
  }
}
/* end of @media screen and (max-width: 768px) */


.email_input {
  display: block;
  margin-top: 1rem;
  display: flex;
}

.signup_text {
  /*margin-left: 3rem;*/
  text-align: center;
  font-size: 1rem;
  font-family: Helvetica;
}

.sub {
  font-size: .8rem;
  flex: 1;
  padding: 1px;
  margin-bottom: 0.4rem;
  width:100px;
}
/* put email */
#email{
  flex: 3;
  padding: 1px;
  margin-bottom: 0.4rem;
  width:150px;
  height:30px;
  font-size: 0.8rem;

}

#email:hover{
  padding: 1px;
  background-color: #e6e6ff;
}

#email:active{
  border: 1px solid #9999ff;
  background-color: #ffe6ee;
}

/* links of styleguide, citation, github */
.linked-text {
  /* dark purple */
  color:#730099;
  text-decoration:underline;
}

/* Clear interaction response for links */
.linked-text:hover, .linked-text:active, .linked-text::after {
  /* dark green */
  color:black;
  /* bright purple */
  background-color: #ffe6ff;
  padding-top:0;
  text-decoration:underline;
}
/* section of phone and email */
.footer-info{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* font choice for footer */
p,.footer-link,a{
  font-family: Helvetica;
}

/* section of styleguide, citation and github */
.footer-link{
  max-width:400px;
  margin-bottom: 1rem;
  text-align: left;
}
/* container of social media icons*/
.footer-icons{
  font-size: 1.5rem;
  margin-top:2rem;
  flex:1;
  text-align: center;
}
/* each icon */
.icons{
  width:30px;
  height:30px;
  display:inline-block;
  margin-bottom: 1.5rem;
}
/* small copyright */
small{
  font-family: Helvetica;
  font-size: 1.0rem;
  font-weight: lighter;
  text-align: left;
}
