.navContainer {
  display: flex;
  width: 100%;
  background-color: rgb(250, 244, 244);
  margin-top: 1rem;
}

.active {
}

.nav_item {
  flex: 1;
  text-align: center;
  display: inline-block;
  margin: auto;
}

.nav_link > a {
  text-decoration: none;
  color: #9aa3f7;
  padding: .5rem;
  padding-bottom: .6rem;
}

/* Threshold for text being in one line*/
@media screen and (min-width: 603px) {
  .nav_link > a:hover {
    border-bottom: 4px dotted #9aa3f7;
  }
}


/* Removing icons between nav items and leave more space*/
@media screen and (max-width: 963px) {
  .nav_icon {
    /* Prevent fontawesome css from overriding display none*/
    display: none !important;
  }
}

@media screen and (min-width: 963px) {
  .nav_icon {
    flex: .8;
    text-align: center;
    margin-top: .3rem;
  }

  .fa-heart {
    color: #ffaec5;
  }


  .fa-times {
    color: #ffaec5;
  }
}

.logo {
  width: 100px;
  display: block;
  margin: auto;
  margin-top: 1rem;
}
